{% extends "base.html" %}
{% block title %} ET Categories {% endblock %}
{% block content %}

<div class="center mt-3">
  <div class="container-light col-12 col-md-6 p-3">
    <h1 class="logo">Categories:</h1>
    <br />
    <my-3>
      {% for item in cat_menu_list %}
      <a class="dropdown-item center" href="{% url 'category' item %}">{{ item }}</a>
      <hr />
      {% endfor %}
      <div class="center">
        <button class="btn btn-info"><a href="{% url 'home' %}">Back</a></button>
      </div>
  </div>
</div>

{% endblock content %}