{% extends "base.html" %}
{% block title %} ET Home {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="row center mt-3">
  <!-- Blog Entries Column -->
  {% for post in post_list %}
  <div class="container-light col-lg-4 col-md-10">
    <div class="card-post">
      <div class="card-header">
        <a href="{% url 'category' post.category %}">{{ post.category }}</a></div>
      <div class="card-body">
        <h5 class="card-title logo">{{ post.title }}</h5>
        <small>
          <p class="card-subtitle mb-2 text-muted">
            Written by: {{ post.author }} on {{ post.created_on }}
          </p>
          <p>{{ post.body|safe|slice:":100" }}...</p>
        </small>
        <div class="d-flex flex-row-reverse">
          <button class="btn btn-outline-info"><a href="{% url 'post_view' post.pk %}">Read more</a></button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br /><br />

{% else %}
<div class="w-100 mx-md-4">
  <div class="container-light-grey">
    <h1 class="logo logo-lg"><strong>Empire of thougths</strong></h1>
  </div>
  <hr class="my-3">

  <div class="d-flex justify-content-center">
      <h2 class="logo logo-lg logo-sub focus-in-expand">Share. Support. Respect.</h2>
  </div>
  <br />
  <div class="center row">
    <div class="card card-main">
      <p class="center">Join our community!</p>
      <button class="btn btn-info"><a href="{% url 'register' %}">Register</a></button></div>
      <div class="card card-main">
      <p class="center">Already have an account?</p>
      <button class="btn btn-success"><a href="{% url 'login' %}">Login</a></button>
    </div>
  </div>
</div>

{% endif %} {% endblock %}