{% extends "base.html" %}
{% block title %} ET Home {% endblock %}
{% block content %}

{% if user.is_authenticated %}
  <div class="row center mt-3">
    <!-- Blog Entries Column -->
    {% for post in post_list %}
    <div class="container-light col-lg-4 col-md-10">
      <div class="card-post">
        <div class="card-header">
          <a href="{% url 'category' post.category %}">{{ post.category }}</a></div>
        <div class="card-body">
          <h5 class="card-title logo">{{ post.title }}</h5>
          <small>
            <p class="card-text">
              Written by: {{ post.author }} on {{ post.created_on }}
            </p>
          </small>
          <a href="{% url 'post_view' post.pk %}">Read more</a>

          {% if user.id == post.author.id %}
          <div>
            <a href="{% url 'update_post' post.pk %}">Edit</a>
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% else %}
<div class="w-100 mx-md-4">
  <div class="container-light-grey">
    <h1 class="logo logo-lg"><strong>Empire of thougths</strong></h1>
  </div>
  <hr class="my-3">
  <div class="d-flex flex-wrap">
    <div class="hero-text col-6">
      <h2 class="logo logo-lg focus-in-contract"><strong>Share.</strong></h2>
      <h2 class="logo logo-lg focus-in-contract ml-3"><strong>Support.</strong></h2>
      <h2 class="logo logo-lg focus-in-contract ml-5"><strong>Respect.</strong></h2>
    </div>
    <div class="card card-main">
        <h3>Join our community!</h3>
        <button class="btn btn-info"><a href="{% url 'register' %}">Register</a></button>
      <hr class="my-3">
        <h4><small>Already have an account?</small></h4>
        <button class="btn btn-success"><a href="{% url 'login' %}">Login</a></button>
    </div>
  </div>
</div>

{% endif %} {% endblock %}