{% extends "base.html" %}
{% block title %} ET MyPage {% endblock %}
{% block content %}


{% for post in post_list %}
{% if user.id == post.author.id %}
<div class="container">
  <div class="row center">
    <!-- Blog Entries Column -->
    <div class="col-lg-8 col-md-10 center p-2">
      <div class="card card-post">
        <div class="card-header">{{ post.category }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p>Created on {{ post.created_on }}</p>
          <p>{{ post.body|slice:":200"}}</p>
        </div>
        <div>
          <a href="{% url 'update_post' post.pk %}">Edit</a>
          <br />
          <a href="{% url 'delete_post' post.pk %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endif %}
  {% endfor %}
  {% endblock %}