{% extends "base.html" %}
{% block title %} ET Post Detail {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="center mt-3">
  <div class="container-light col-12 col-md-8 p-3">
    <div>
      <h1 class="post-title logo">{{ post.title }}</h1>
    </div>
    <div>
      <p class="post-subtitle">
        Author: {{ post.author }} | Created on: {{ post.created_on }}
      </p>
    </div>
    <div>
      <p class="post-subtitle">{{ post.body|safe }}</p>
    </div>

    <!-- "Like" button -->
    <div class="row w-100 d-flex justify-content-end mr-2">
      <div class="d-flex">
        <div>
          <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}

            {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="like-btn"><img
                src="https://github.com/KlaudiaBC/FST-Project-Empire-of-Thoughts/blob/main/static/images/like.png?raw=true"
                alt="unlike"></button>

            {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="like-btn"><img
                src="https://github.com/KlaudiaBC/FST-Project-Empire-of-Thoughts/blob/main/static/images/like1.png?raw=true"
                alt="like"></button>
            {% endif %}
        </div>
        <div>
          {% if sum_likes == 1 %}
          <p>{{ sum_likes }} person sending love</p>
          {% elif sum_likes > 1 %}
          <p>{{ sum_likes }} people sending love </p>
          {% else %}
          <p>Send some love!</p>
          {% endif %}
        </div>
        </form>
      </div>
    </div>

    <!-- Comment section -->
    <br />
    <div class="d-flex w-100 justify-content-between">
      <div>
        <h3>Comments:</h3>
      </div>
      <div class="mr-4">
        <div class="btn btn-outline-info"><a href="{% url 'add_comment' post.pk %}">Add comment.</a></div>
      </div>
    </div>
    <div class="w-100">
      {% if not post.blog_comments.all %}
      <p>This article has no comments.</p>
      <br />
      {% else %}
      <div>
        {% for comment in post.blog_comments.all %}
        {% if comment.approved is True %}
        <small>
          <p> {{ comment.name }} on {{ comment.created_on }}</p>
        </small>
        <p> {{ comment.body }} </p>
        <br />
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
<br />
      <div class="d-flex justify-content-around">
        {% if user.id == post.author.id %}
        <div class="btn btn-outline-warning mr-3"><a href="{% url 'update_post' post.pk %}">Edit</a></div>
        <div class="btn btn-outline-danger mr-3"><a href="{% url 'delete_post' post.pk %}">Delete</a></div>
        {% endif %}
        <div class="btn btn-outline-info"><a href="{% url 'home' %}">Back</a></div>
      </div>
    </div>
  </div>
</div>
<br /> <br />
{% endif %}
{% endblock content %}