{% extends "base.html" %}
{% block title %} ET Update Post {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="center mt-3">
  <div class="container-light col-12 col-md-6 p-3">
    <div>
      <h1 class="logo">Edit your post</h1>
    </div>
    <div class="form-group">
      <form method="POST">
        {% csrf_token %} {{ form.as_p }} {{ form.media }}
        <div class="center">
          <button type="submit" class="btn btn-success">Update</button>
          <button class="btn btn-light"><a href="{% url 'home' %}">Cancel</a></button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
