body {
    background-image: url("../images/bg_photo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 40%;
}

h1 {
    margin: 1rem 0 1rem 0;
}

.row {
    justify-content: center;
}

.content {
    margin-left: 2rem;
    margin-right: 2rem;
}

.card-post {
    height: 15rem;
    width: 100%;
    block-size: fit-content;
}

.container-light {
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    display: flex;
    margin: 0.5rem;
    border: #dae0e5 solid;
    border-radius: 2%;
    background-color: aliceblue;
    opacity: 90%;
}

.container-box {
    width: 20rem;
    margin-top: 5rem;
}

/* .container-light::before {
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -3; 
} */