{% extends "base.html" %}
{% block title %} ET Register {% endblock %}
{% block content %}

<div class="center">
  <div class="container-light col-12 col-md-8 p-3">
    <div>
      <h1 class="logo">Register</h1>
    </div>
    <br />

    <!-- Registration form -->
    <div class="form-group">
      <form method="POST">
        {% csrf_token %}
        {{ form }}

        <div class="center m-2">
          <button type="submit" class="btn btn-success">
            Create new account
          </button>
        </div>
      </form>
    </div>

    <!-- Link to login page -->
    <div class="row">
      <p>Already have an account?</p>
      <a href="{% url 'login' %}" class="blue-link ml-2">Login.</a>
    </div>
  </div>
</div>
  <br />
  <br />
  {% endblock content %}