{% extends "base.html" %}
{% block title %} ET Register {% endblock %}
{% block content %}

<div class="center">
  <div class="container-light col-12 col-md-8 p-3">
    <div>
      <h1 class="logo">Register</h1>
    </div>
    <br />

    <!-- Registration form -->
    <div class="form-group">
      <form method="POST">
        {% csrf_token %}

        <input type="hidden" name="csrfmiddlewaretoken" value="...">

        <div>
          <label for="id_username">Username:</label>
          <input type="text" name="username" maxlength="150" autofocus class="form-control" required id="id_username">
          <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
        </div>
        <div>
          <label for="id_first_name">First name:</label>
          <input type="text" name="first_name" class="form-control" maxlength="100" required id="id_first_name">
        </div>
        <div>
          <label for="id_last_name">Last name:</label>
          <input type="text" name="last_name" class="form-control" maxlength="100" required id="id_last_name">
        </div>
        <div>
          <label for="id_email">Email:</label>
          <input type="email" name="email" required id="id_email">
        </div>
        <div>
          <label for="id_password1">Password:</label>
          <input type="password" name="password1" autocomplete="new-password" class="form-control" required
            id="id_password1">
          <span class="helptext">
            <ul>
              <li>Your password can't be too similar to your other personal information.</li>
              <li>Your password must contain at least 8 characters.</li>
              <li>Your password can't be a commonly used password.</li>
              <li>Your password can't be entirely numeric.</li>
            </ul>
          </span>
        </div>
        <div><label for="id_password2">Password confirmation:</label>
          <input type="password" name="password2" autocomplete="new-password" class="form-control" required
            id="id_password2">
          <span class="helptext">Enter the same password as before, for verification.</span></div>

        <div class="center m-2">
          <button type="submit" class="btn btn-success">
            Create new account
          </button>
        </div>
      </form>
    </div>

    <!-- Link to login page -->
    <div class="row">
      <p>Already have an account?</p>
      <a href="{% url 'login' %}" class="blue-link ml-2">Login.</a>
    </div>
  </div>
</div>
<br />
<br />
{% endblock content %}