{% extends "base.html" %}
{% block title %} ET Login {% endblock %}
{% block content %}

<div class="center">
  <div class="container-light col-12 col-md-8 p-3">
<h2>Empire of Thoughts</h2>
<h3>Terms and Conditions</h3>

<br />
<h4><b>Disclaimer:</b></h4>
<p>This platform is a peer-to-peer/non professional support resource. It is not meant to be a crisis service or a replacement to therapy and/or medical services. The admins and moderators cannot ascertain risk within this medium and cannot be expected to intervene due to personal and legal liability issues.</p>

<br>

<p>1. TO REGISTER ON THE ET PLATFORM YOU HAVE TO BE AGED 16 AND ABOVE</p>
<p>2. NO BULLYING AND NO SWEARING</p>
<p>This includes hate speech, naming and shaming, any type of spiteful and insulting comments towards members and the Admin Team. <b>NO swearing.</b> All posts and comments containing swearing will be removed.</p>
<p>3. NO NUDITY, PORNOGRAPY OR OTHER SESITIVE GRAPHIC CONTENT</p>
<p>Any topless/bottomless pictures as well as pictures/videos of wounds (both accidental and self inflicted) or any other sensitive graphic content will be removed.</p>
<p>The account which has been reported by other members of the Community for using any words, phrases and or any type of slander about mental health and the way others show support and awareness <b>WILL BE REMOVED AND BANNED WITHOUT ANY WARNING OR NOTICE.</p></b>
<p>5. PRIVATE INFORMATION</p>
<p>Every member of the community has to be verified via email. Because of community standards, it is common to use the nick and stay anonymous. Sharing any personal information <b>lies in the responsibility of the User</b> and will <b>not</b> be reviewed by Admin.</p>
<p>6. NON-PRESCRIBED DRUGS</p>
<p>In care of other members of the Community, it is forbidden to share any information about non-prescribed drugs as well as persuade usage of them.</p>
<br />
<p><b>IF ANYONE EVER COMES TO YOU AND STATES THAT THEY WANT TO HARM THEMSELVES OR ANYBODY ELSE: IMMEDIATELY NOTIFY YOUR LOCAL 911 EMERGENCY SERVICES AND/OR A CERTIFIED TRAINED PERSON.</b></p>
<div class="center">
  <button class="btn btn-info"><a href="{% url 'home' %}">Back</a></button>
</div>
  </div>
</div>
<br /><br />

{% endblock %}