{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        {% for post in post_list %}
        <div class="post-box col-lg-4 col-md-10">
            <div class="card card-post">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">Written by: {{ post.author }}</p>
                    <a href="{% url 'post_view' post.pk %}" class="btn btn-primary">Go somewhere</a>
                    <a href="{% url 'update_post' post.pk %}" >Edit</a>
                    <br/>
                    <a href="{% url 'delete_post' post.pk %}" >Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}